<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="VM"/>
		<service name="Gui"/>
		<service name="Timer"/>
		<service name="Nic"/>
		<service name="RM"/>
		<service name="File_system"/>
	</parent-provides>

	<start name="vm_log" caps="100">
		<binary name="log_terminal"/>
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Terminal"/> </provides>
		<route> <any-service><parent/></any-service> </route>
		<config/>
	</start>

	<start name="vdi_block" caps="100">
		<resource name="RAM" quantum="8M"/>
		<provides> <service name="Block"/> </provides>
		<route> <any-service><parent/></any-service> </route>
		<config file="/block.vdi" writeable="yes">
			<vfs>
				<fs label="block.vdi" buffer_size="2M"/>
				<import overwrite="no">
					<rom name="block.vdi" binary="yes"/>
				</import>
			</vfs>
		</config>
	</start>

	<start name="vfs" caps="100">
		<resource name="RAM" quantum="10M"/>
		<provides> <service name="File_system"/> </provides>
		<route>
 			<any-service><parent/></any-service>
		</route>
		<config>
			<vfs>
				<fs/>
				<import overwrite="no">
					<rom name="linux"      binary="yes"/>
					<rom name="initrd"     binary="yes"/>
					<rom name="vmm.config" binary="no"/>
				</import>
			</vfs>
			<policy label_prefix="fs_rom" root="/" writeable="no"/>
		</config>
	</start>

	<start name="fs_rom" caps="100">
		<resource name="RAM" quantum="70M"/>
		<provides> <service name="ROM"/> </provides>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
 			<any-service><parent/></any-service>
		</route>
		<config/>
	</start>

	<start name="vmm" caps="300">
		<resource name="RAM" quantum="550M"/>
		<route>
			<service name="Terminal"> <child name="vm_log"/> </service>
			<service name="Block">    <child name="vdi_block"/>    </service>
			<service name="ROM" label="config"> <child name="fs_rom" label="vmm.config"/> </service>
			<service name="ROM" label="initrd"> <child name="fs_rom" label="initrd"/>     </service>
			<service name="ROM" label="linux">  <child name="fs_rom" label="linux"/>      </service>
			<any-service><parent/></any-service>
		</route>
	</start>
</config>
