<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="VM"/>
		<service name="Gui"/>
		<service name="Timer"/>
		<service name="Nic"/>
		<service name="RM"/>
	</parent-provides>

	<start name="vm_log" caps="100">
		<binary name="log_terminal"/>
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Terminal"/> </provides>
		<route> <any-service><parent/></any-service> </route>
		<config/>
	</start>

	<start name="vmm" caps="500">
		<resource name="RAM" quantum="160M"/>
		<route>
			<service name="Terminal"> <child name="vm_log"/> </service>
			<service name="ROM" label="config"> <parent label="vmm.config"/> </service>
			<any-service><parent/></any-service>
		</route>
	</start>
</config>
