<config kernel_rom="linux" initrd_rom="initrd" ram_size="128M"
        cpu_count="1" cpu_type="arm,cortex-a53" gic_version="3"
        bootargs="rdinit=/bin/sh console=tty0">
	<virtio_device name="hvc0"   type="console"/>
	<virtio_device name="eth0"   type="net"/>
	<virtio_device name="fb0"    type="gpu"/>
	<virtio_device name="event0" type="input"/>
</config>
